In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

from warnings import filterwarnings
from sklearn import tree
filterwarnings('ignore')

In [3]:
df = pd.read_csv('data/drug200.csv', header=None)
df.columns = df.iloc[0]
df = df.drop(df.index[0])
df.head()

0 Age Sex      BP Cholesterol Na_to_K   Drug
1  23   F    HIGH        HIGH  25.355  DrugY
2  47   M     LOW        HIGH  13.093  drugC
3  47   M     LOW        HIGH  10.114  drugC
4  28   F  NORMAL        HIGH   7.798  drugX
5  61   F     LOW        HIGH  18.043  DrugY

In [4]:
df['Sex'] = df['Sex'].replace({'F': 0, 'M': 1})
df['BP'] = df['BP'].replace({'LOW': 0, 'NORMAL': 1, 'HIGH': 2})
df['Cholesterol'] = df['Cholesterol'].replace({'HIGH': 1, 'NORMAL': 0})
df.head()

0 Age  Sex  BP  Cholesterol Na_to_K   Drug
1  23    0   2            1  25.355  DrugY
2  47    1   0            1  13.093  drugC
3  47    1   0            1  10.114  drugC
4  28    0   1            1   7.798  drugX
5  61    0   0            1  18.043  DrugY

In [5]:
y = df["Drug"]
X = df.drop(columns="Drug")

In [6]:
x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.3, random_state=42)

In [7]:
model = DecisionTreeClassifier(criterion="entropy", max_depth = 4)
model.fit(x_train, y_train)
model.score(x_test, y_test)

1.0

In [9]:
#analiza važnosti značajki
importance = model.feature_importances_
importance

array([0.10456168, 0.        , 0.31241522, 0.07618233, 0.50684077])